:root {

    --color-peraimery: #458FF6;
    --color-secend: #FFCB00;
    --text-color: #666666;
    --font-regular: "IRansans Regular";
    --font-medium: "IRansans Medium";
    --font-bold: "IRansans Bold";


}

.header {
    background-color: #fff;
    z-index: 10;
}

.header::before {
    content: none;
}

.brodcramp-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    gap: 2rem;
}

.brodcramp-information-box {
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.brodcramp-information-box-price {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: 1px solid #fff;
    border-radius: 1.5rem;
    padding: 0.6rem 1rem;
    width: 100%;
}

.brodcramp-information-box-price svg {
    width: 2.5rem;
    height: 2.5rem;
}

.brodcramp-information-box-price span {
    color: #fff;
    font-family: var(--font-bold);
    font-size: 1.4rem;
    line-height: 1.5em;
}

.brodcramp-information-box-price__title {
    color: #fff;
    font-family: var(--font-bold);
    font-size: 1.4rem;
    line-height: 1.5em;

}

.brodcramp-information-box-price__Discount {
    font-size: 1.2rem;
    color: #fff;
    text-decoration: line-through;
}

.brodcramp-information-box-price__unit {
    color: #fff;
    font-family: var(--font-bold);
    font-size: 1rem;
    transform: rotate(90deg);
    line-height: 1.5em
}

.brodcramp-information-box-date {
    display: flex;
    align-items: center;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: 1px solid #fff;
    border-radius: 1.5rem;
    padding: 0.6rem 1rem;
    width: 100%;
}

.brodcramp-information-box-date span {
    color: #fff;
    font-family: var(--font-bold);
    font-size: 1.4rem;
    line-height: 1.5em;

}

.brodcramp-information-box-date svg {
    width: 2.5rem;
    height: 2.5rem;

}

.brodcramp-information-box-date__title {
    color: #fff;
    font-family: var(--font-bold);
    font-size: 1.4rem;
    line-height: 1.5em;
}

.brodcramp-information-box-time {
    display: flex;
    align-items: center;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: 1px solid #fff;
    border-radius: 1.5rem;
    padding: 0.6rem 1rem;
    width: 100%;

}

.brodcramp-information-box-time svg {
    width: 2.5rem;
    height: 2.5rem;
}

.brodcramp-information-box-time span {
    color: #fff;
    font-family: var(--font-bold);
    font-size: 1.4rem;
    line-height: 1.5em;

}

.brodcramp-information-box-time__title {
    color: #fff;
    font-family: var(--font-bold);
    font-size: 1.4rem;
    line-height: 1.5em;

}

.brodcramp-information-box-link {
    width: 20rem;
}

.brodcramp-information-box-link a {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.5rem;
    width: 100%;
    height: 100%;
    color: var(--color-peraimery);
    background-color: #fff;
    border: 2px dashed var(--color-peraimery);
    font-size: 1.6rem;
    font-family: var(--font-bold);
}

.about-us-content__links {
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.about-us-content__link {

    width: 20rem;
    height: 5rem;
    background-color: transparent;
    color: var(--color-peraimery);
    border: 2px dashed var(--color-peraimery);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    margin: 0;

}


.Course-title {
    margin-top: 10rem;
}

.Course-title-werraper {
    margin-top: 10rem;
}

.Course-title-box {
    box-shadow: 0 0 4px 0 #00000040;
    border-right: 4px solid var(--color-peraimery);
    border-radius: 1rem;
    display: flex;
    gap: 1rem;

    padding: 1rem;
}

.Course-title-number {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid var(--color-peraimery);
}

.Course-title-number__text {
    font-size: 4rem;
    font-family: var(--font-bold);
    color: var(--color-peraimery);
}

.Course-title-discription {
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.Course-title-discription___title {
    color: #575757;
    font-size: 1.6rem;
    font-family: var(--font-bold);
    line-height: 1.5em;
}

.Course-title-discription___caption {
    line-height: 1.5em;
    font-size: 1.4rem;
    color: #777777;
}



.single-product-comment {
    margin-top: 10rem;
}

.single-product-comment-werraper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1rem;
    background-color: #fff;
    border-radius: 1rem;
    margin-top: 2.5rem;
    padding: 2rem;
    box-shadow: 0 0 8px 0 #00000040;
    border: 2px solid var(--color-peraimery);
}
.single-product-comment-werraper-title {
    display: flex;
    align-items: center;
    gap: 2rem;
    
}
.single-product-comment__title {
    font-family: var(--font-bold);
    font-size: 1.8rem;
    color: var(--color-peraimery);
}
.single-product-comment__caption {
    background-color: #EAF3FF;
    color: var(--color-peraimery);
    text-align: center;
    border: 1px dashed var(--color-peraimery);
    border-radius: 1rem;
    padding: 1rem 1rem;
    width: 100%;
    line-height: 1.5em;
    font-size: 1.6rem;
    margin-top: 2rem;
   
}
.single-product-comment-form {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   gap: 2rem;
   
}
.single-product-comment-form-item__input {
    width: 100%;
}
.single-product-comment-form__label {
    font-size: 1.2rem;
    color: #444444;
}
.single-product-comment-form__input {
    width: 100%;
    outline: 0;
    border: 0;
    
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: 0 0 4px 0 #00000040;
}
.single-product-comment-form-item__check {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: start;
    gap: 1rem;
}
.full-width{
    width: 100%;
}
.single-product-comment-form__check {
    
}
.single-product-comment-form-item-btn {
    width: 100%;
    display: flex;
    justify-content: start;
}
.single-product-comment-form__link {
    font-size: 1.4rem;
    font-family: var(--fon-medium);
    border-radius: 1rem;
    padding: 1rem 2rem;
    border: none;
}

.Counseling-home {
    background-color: var(--color-peraimery);
}
.Counseling-home-werraper {
    
}
.Counseling-home-content {
}
.Counseling-home-content-title {
}

.Counseling-home-content-title__text {
    width: 100%;
    text-align: center;
}
.Counseling-home-content__caption {
}
.Counseling-home-content-icon {
    display: none;
}
.Counseling-home-links {
    display: flex;
  
    flex-direction: column;
    gap: 2rem

}
.Counseling-home-link {
    
}

.Counseling-home-link2 {
    background-color: #fff;
    border: 2px dashed var(--color-peraimery);
    color: var(--color-peraimery);
}

.Counseling-product {
    background-color: var(--color-secend);
    margin-top: 10rem;
    position: relative;
    padding: 2rem 2rem;
}
.Counseling-product-werraper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}
.Counseling-product-content {
    display: flex;
    flex-direction: row-reverse;

    justify-content: center;
    gap: 2rem;
}
.Counseling-product-content-title {
    display: flex;
    flex-direction: column;
    align-items: start;
}
.Counseling-product-content-title__text {
    font-size: 1.6rem;
    font-family: var(--font-bold);
    color: #fff;
    text-align: right;
}
.Counseling-product-content__caption {
    font-size: 1.4rem;
    font-family: var(--font-regular);
    color: #fff;
    margin-top: 1rem;
}
.Counseling-product-content-icon {
    display: flex;
    align-items: center;
}
.Counseling-product-content-icon span {
    display: flex;
    align-items: end;
    justify-content: end;
    width: 3.5rem;
    height: 5px;
    background-color: #fff;
    position: relative;
    border-radius: 2rem;

}

.Counseling-product-content-icon span::after {

    display: block;
    width: 3.5rem;
    height: 5px;
    background-color: #fff;
    content: ' ';
    position: absolute;
    top: -3rem;
    border-radius: 2rem;


}
.Counseling-product-content-icon span::before {
    display: block;
    width: 7rem;
    height: 5px;
    background-color: #fff;
    content: ' ';
    position: absolute;
    top: -1.5rem;
    border-radius: 2rem;

}
.Counseling-product-links {
    display: flex;
    flex-direction: column-reverse;
    width: 25rem;
    gap: 2rem;

    
}
.Counseling-product-link {
    background-color: transparent;
    border: 3px solid #fff;
    width: 100%;
}

.Counseling-product-link2 {
    width: 100%;
    background-color: #fff;
    border: 2px dashed var(--color-secend);
    color: var(--color-secend);
}
.shepa-Counseling-home-1 {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    width: 8rem;
    height: 8rem;
    z-index: 0;
}
.shepa-Counseling-home-2 {
    content: '';
    position: absolute;
    left: 0rem;
    top: 0;
    bottom: 0;
    margin: auto 0;
    width: 8rem;
    height: 8rem;
    z-index: 0;
}


.Frequently-question {
    margin-top: 10rem;
}
.Frequently-question-werraper {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

}
.Frequently-question-box {
    box-shadow: 0 0 4px 0 #00000040;
    border-right: 4px solid var(--color-peraimery);
    border-radius: 1rem;
    padding: 1rem 2rem;
}
.Frequently-question-box-title {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.Frequently-question-box-icon{
width: 2rem;
height: 2rem;
transform: rotate(0deg);
transition: all 200ms ease-in;
}
.Frequently-question-box-icon--active{

    transform: rotate(90deg);
}
.Frequently-question-box-title__text {
    color: #575757;
    font-family: var(--font-bold);
    line-height: 1.5em;
    cursor: pointer;

}
.Frequently-question-box-caption {
    padding-right: 3rem;
    
    margin-top: 2rem;
    max-height: 0;
    overflow: hidden;
    transition: all 400ms ease-in;
    position: relative;
    
}
.Frequently-question-box-caption--active{
    
    max-height: 20rem;
}
.Frequently-question-box-caption__text {
    color: #777777;
    font-size: 1.4rem;
    line-height: 1.5em;
    padding-top: 2rem;
}


.Frequently-question-box-caption__text::after{

    content: '';
    position: absolute;
    top: 0;
    right: 2rem;
    border-top: 2px solid var(--color-peraimery);
    display: block;
    width: 8rem;
    border-radius: 2rem;
    

}
.getting-product{
    margin-top: 10rem;
}
.getting-product-werraper {
    margin-top: 5rem;
    border: 3px dashed var(--color-secend);
    padding: 3rem;
    border-radius: 1rem;

}
.getting-product-box {
    margin-top: 2rem;
}
.getting-product-box-title {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 1rem;
}
.getting-product-box-title h3{
    color: #575757;
    font-family: var(--font-bold);
    font-size: 1.8rem;
}
.getting-product-box-conent {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 0px;
    overflow: hidden;
    gap: 5rem;
    transition: all 500ms ease-in;
}
.getting-product-box-conent-active{
    max-height: 1000rem;

}
.getting-product-box-conent__caption {
    font-size: 1.4rem;
    color: #777777;

}
.getting-product-box-conent__img {
    width: 40rem;
    object-fit: cover;
    align-self: center;
}
.getting-product-box-conent__link {
    background-color: #FFB8001A;
    color: var(--color-secend);
    border: 2px dashed var(--color-secend);
    border-radius: 1rem;
    padding: 0 1rem;

}
.getting-product-box-conent__link a {
    color: var(--color-secend);
    text-decoration: underline;


}
.comment-page-product{
    margin-top: 10rem;

    
}
.single-post-comment {
    border: 2px solid var(--color-peraimery);
}
.alian{
    text-align: start;
    
}
.single-post-comment-werraper {
}
.single-post-comment-werraper-title {
    border: none;
}


.single-post-comment-form-item__input__check{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 1rem;
}
.comment-page-product-conetnt {
}
.comment-page-product-conetnt__title {
    display: flex;
    align-items: center;
    gap: 2rem;
    position: relative;
    padding-bottom: 2rem;
}
.comment-page-product-conetnt__title::before{

    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    border-bottom: 2px solid #D2D2D2;
    display: block;
    width: 50%;
    border-radius: 2rem;

}
.comment-page-product-conetnt__title h2{
    color: #444444;
    font-size: 1.8rem;
    font-family: var(--font-bold);
   
}
.comment-page-product-conetnt__caption {
    color: #444444;
    font-size: 1.4rem;
    margin-top: 1rem;
}
.comment-page-product-links {
    margin-top: 5rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: center;
}

.comment-page-product-link {
    border-radius: 1rem;
    background-color: transparent;
    color: var(--color-peraimery);
   
    border: 2px dashed var(--color-peraimery)
    
}
.rediuse{
    border-radius: 1rem;
    box-shadow: 0 4px  4px 0 #00000040;
}

.Students-comments {
    margin-top: 10rem;
}


.Students-comments-werraper {
    margin-top: 5rem;
}

.Students-comments-box {
    box-shadow: 0 0px 4px 0 #00000040;
    border-radius: 1rem;
    border-bottom: 4px solid var(--color-peraimery);
}
.Students-comments-box__img {
    width: 100%;
    height: 20rem;
    position: relative;
}
.Students-comments-box-play{
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

}
.Students-comments-box__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.Students-comments-box-content {
    padding: 1rem;
}
.Students-comments-box-content-link {
}
.Students-comments-box-content__title {
    display: block;
    font-size: 1.6rem;
    color: var(--color-peraimery);
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    font-family: var(--font-bold);
}
.Students-comments-box-content-Information {
    display: flex;
    justify-content: space-between;
}
.Students-comments-box-content-Information__time {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: start;
    flex-direction: row-reverse;
    font-size: 1.2rem;
    color: #666666;
}




